//META{"name":"Shiratsuyu_Theme","description":"pink fluffy DDs in Yukatas","author":"Flonneon","version":"1.07"}*//
		/*================================= Background =================================*/


.app {
background-image: url(https://i.imgur.com/ovD87W7.jpg);
background-size: cover;
}

.theme-dark .layer, .theme-dark .layers {
    background: transparent;
}
.appMount-14L89u {
    background-color: transparent;
}
.container-2OU7Cz {
    background-color: transparent;
}

.typeWindows-15E0Ys {
    padding-top: 4px;
    background: #613843;
	margin-top:0px;
}

.theme-dark.context-menu {
    background: #484361;
    box-shadow: none;
}

.theme-dark.context-menu .item {
    color: #FFF;
}

.bd-blue .checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: #613843;
    border-color: #000;
    border-width: 1px;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span:after {
    left: 5px;
}

.theme-dark.context-menu .item:hover {
    background: #7E86D7;
    color: #fff;
}

/*================================= Servers =================================*/
.guilds-wrapper {
    background: #5D3540;
    opacity: 0.8;
}

.guilds-wrapper .guilds .guild .guild-inner {
    background: #A78293;
}

.guilds-wrapper .guilds .friends-online {
	    color: #D0D0D0;
}

.guilds-wrapper .guild-separator:after {
    background: #FFF;
}

.guild-inner {
    background-color: #A78293!important;
	border-radius: 5px;
}

.bd-blue *[style*="background-color: rgb(114, 137, 218)"] {
    background-color: #A78293 !important;
}

.guilds-wrapper .guilds-add {
    background: #B59A8E;
    color: #000044;
    border: #AA8997;
}
.guilds-wrapper .guilds .guild.unread:before {
    background: #FFF;
}
.guilds-wrapper .guilds .guild.audio .guild-inner:after, .guilds-wrapper .guilds .guild.video .guild-inner:after {
background-color: #484361;
}	
	
/*================================= Channels =================================*/

.channels-3g2vYe {
    background-color: #E2C1B2;
    opacity: 0.8;
}

.container-RYiLUQ {
    background-color: transparent;
}

.header-1tSljs:hover {
    background-color: #816578;
}

.popout-open .header-1tSljs {
    background-color: #816578;
}

.header-1tSljs {
    border-bottom: 1px solid #7E86D7;
    box-shadow: none;
	background: #5D3540;
    opacity: 1;
}

.channels-wrap {
    background-color: #E2C1B2;
    opacity: 0.8;
}
.dropdown-button {
    opacity: 1;
}
.content-2mSKOj {
	    margin: 0;
}
.contentSelectedText-3j5CXt {
    background-color: #5D3540;
    background-image: -webkit-linear-gradient(top,hsla(19,45%,30%,0.2),#484361);
}
.colorDefaultText-2v6rRX, .colorDefaultVoice-1x4dEl, .colorHoveredText-1CsxK1, .colorHoveredVoice-1P3kui, .colorLockedText-2onHWv, .colorLockedVoice-2VCSgk, .colorSelectedText-3YhFC6, .colorSelectedVoice-ieXC3Z, .colorUnreadText-1KwCnP, .colorUnreadVoice-1Ztv9I {
    color: #FFF;
    background: #41252d;
    border-radius: 5px;
    opacity: 1!important;
}
.nameDefaultText-QoumjC, .nameDefaultVoice-1swZoh, .nameLockedText-2fGz07, .nameLockedVoice-wNOMNa {
    color: #000044;
}
.unread-23Kvxk {
    background-color: #FFF;
}
.nameUnreadText-1pxldj, .nameUnreadVoice-QK4gxH {
    color: #FFF;
}
.wrapperUnreadText-1MykVG {
    background: #613843;
    opacity: 0.6;
}
.contentHoveredText-2HYGIY, .contentHoveredVoice-3qGNKh:active, .contentSelectedVoice-gTtYM9:active {
    background-color: #AA8997;
    background-image: -webkit-linear-gradient(top,hsla(250,18%,32%,0.5),#AA8997);
}
.nameHoveredText-2FFqiz {
    color: #FFF;
}
.icon-3rMtHF {
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    fill: #FFF;
    opacity: 1!important;
}

.wrapperHoveredText-1PA_Uk, .wrapperHoveredVoice-3tbfNN {
    background: #AA8997;
    background-image: -webkit-linear-gradient(top,hsla(250,18%,32%,0.5),#AA8997);
}
.contentSelectedVoice-gTtYM9 {
    background-color: #5D3540;
    background-image: -webkit-linear-gradient(top,hsla(19,45%,30%,0.2),#484361);
}
.userHovered-3tfm93 {
    cursor: pointer;
    background: #AA8997;
    background-image: -webkit-linear-gradient(top,hsla(250,18%,32%,0.5),#AA8997);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    margin-bottom: 1px;
    padding-left: 10px;
}
.nameHovered-28u_Fz, .nameSpeaking-3ROx9q {
    color: #FFF;
}
.nameDefault-1I0lx8 {
    color: #D0D0D0;
}
.userDefault-2_cnT0 {
    background: #484361;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    margin-bottom: 1px;
    padding-left: 10px;
	margin-right: -7px;
}
}
.wrapperLockedText-Dsondf:hover, .wrapperLockedVoice-1XZJmE:hover {
    cursor: not-allowed;
    background: #7E86D7;
    opacity: 0.8;
}
.popout-menu {
    background: #F5E9E4;
}
.bd-blue .popout-menu .popout-menu-item.invite {
    color: #007700;
}
.popout-menu .popout-menu-item {
	    color: #000044;
}
.popout-menu .popout-menu-separator {
    border-bottom: 1px solid #7E86D7;
}
.popout-menu .popout-menu-item:hover {
    background-color: #EAD2C7;
}
.container-3lnMWU {
    background: #613843;
	border-bottom: 1px solid #7E86D7;
}
.inner-ptMwR- .channel-3YGMy1 {
    opacity: 1;
}
.button-3WJ5FX {
	    opacity: 1;
	background-color: #41252d;
    margin-right: 2px;
}
.button-3WJ5FX:hover {
    opacity: 1;
    background-color: #9d7b90;
}
.container-iksrDt {
    background: #5D3540;
    margin-bottom: 0px;
}

.button-1aU9q1:hover {
    opacity: 1;
    background-color: #AA8997;
}
.button-1aU9q1 {
    background: #41252d no-repeat 50% 50%;
    opacity: 1;
    margin-right: 1px;
}
.status-picker .popout-menu-item .helper {
    color: #000044;
}
.popout header {
    background-color: #613843;
}
.popout section {
    background-color: #F5E9E4;
}
#rtc-connection-popout section p {
    color: #000044;
}
#rtc-connection-popout hr {
    border: 1px solid #7E86D7;
}
#rtc-connection-popout .debug-button {
	color: #007700;
}

.iconHovered-3PRzOR, .iconHoveredCollapsed-jNYgOD, .nameHovered-1YFSWq, .nameHoveredCollapsed-2c-EHI {
    color: #FFF;
}

.wrapperCollapsed-18mf-c, .wrapperDefault-1Dl4SS, .wrapperHovered-1KDCyZ, .wrapperHoveredCollapsed-25KVVp, .wrapperMuted-PmsxPn, .wrapperUnread-450E16 {
    box-sizing: inherit;
    padding-left: 27px;
    background: #824a59;
    padding-top: 5px;
    padding-bottom: 5px;
	height: 20px;
}

.iconCollapsed-1INdMX, .iconDefault-xzclSQ, .nameCollapsed-3_ChMu, .nameDefault-Lnjrwm {
    color: #FFF;
}
.iconCollapsed-1INdMX, .iconDefault-xzclSQ, .iconHovered-3PRzOR, .iconHoveredCollapsed-jNYgOD, .iconMuted-Hb4ttQ, .iconUnread-3sxnnr {
    left: 8px;
    position: absolute;
    top: 10px;
}
.wrapperHovered-1KDCyZ {
    background: #41252D;
}
.wrapperHoveredCollapsed-25KVVp {
    background: #41252D;
}
/*================================= Header =================================*/
.theme-dark .title-qAcLxz {
    background: #5D3540;
    opacity: 0.8;
}
.theme-dark .chat {
    background-color: transparent;
}
.theme-dark .chat>.content {
    background-color: transparent;
}
.chat>.title-wrap.title-wrap-dark {
    border-bottom: none;
    box-shadow: none;
    background: hsla(344, 27%, 29%, 0.8);
}

/*================================= Chat =================================*/
.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: #F5E9E4;
    opacity: 0.9;
}
.theme-dark .inner-3if5cm {
    background-color: hsla(18, 21%, 63%,0.6);
    border: 1px #484361 solid;
}
.theme-dark .chat form {
    border-top: 1px solid #7E86D7;
}
.theme-dark .chat form {
    border-top: 1px solid #7E86D7;
    background-color: hsla(19, 45%, 85%, 0.8);
    margin-left: 0px;
    padding-left: 25px;
    margin-right: 0px;
    padding-right: 25px;
}
.theme-dark .attachButtonForeground-3VZiXQ {
    fill: #41252d;
}

.chat .new-messages-bar {
    background-color: #613843;
}
.bd-blue .chat .new-messages-bar:hover {
    background-color: #AA8997;
}
.chat .new-messages-bar button:last-child {
    color: #FFF;
}
.theme-dark .chat .jump-to-present-bar {
    background-color: #613843;
}
.theme-dark .chat .jump-to-present-bar:hover {
    background-color: #AA8997;
}
.chat .jump-to-present-bar button:last-child {
    color: #FFF;
}
.theme-dark .message-group h2 span {
    color: #0000AA;
}
.theme-dark .message-group .comment .markup {
    color: #000044;
}
.avatar-large {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}
.theme-dark .message-group:not(.has-divider) {
    border-bottom-color: transparent;
}
.theme-dark .message-group a {
    color: #007700;
}
.theme-dark .message-group .embed-wrapper .embed-color-pill {
    background-color: #613843;
}
.theme-dark .message-group .embed {
    background-color: #E2C1B2;
    border-color: #751975;
}
.theme-dark .message-group .embed .embed-description, .theme-dark .message-group .embed .embed-fields {
    color: #000044;
}
.theme-dark .friends-table .messages .divider.divider-red>span, .theme-dark .messages-wrapper .messages .divider.divider-red>span {
    color: #FFF;
}
.theme-dark .friends-table .messages .divider.divider-red>div, .theme-dark .messages-wrapper .messages .divider.divider-red>div {
    background: #613843;
    opacity: 1;
}
.theme-dark .friends-table .messages .divider:before, .theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider:before, .theme-dark .messages-wrapper .messages .divider span {
    background-color: #613843;
}
.bd-blue .mention {
    color: #0000DD;
}
.theme-dark .message-group .mentioned .message-text {
    background: #EAD2C7;
    border: 1px solid #751975;
    padding: 5px;
}
.message-group .mentioned .message-text:after {
    border-left: 4px solid #613843;
	left: -4px;
}
.message-group .btn-option {
    background-color: #41252d;
    border-radius: 10px;
}
.message-group .btn-reaction {
    background-color: #41252d;
    border-radius: 10px;
}
.theme-dark .message-group h2 strong {
    color: #996600;
}
.bd-blue .chat .has-more button {
    color: #FFF;
}
.theme-dark .chat .has-more button {
    background: #613843;
    border: none;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
	background-color: #824a59;
    background-clip: padding-box;
    border: 1px solid #000;
    border-radius: 7px;
}
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: #F5E9E4;
    border-color: #751975;
}
.theme-dark .attachButtonDivider-3tknGJ {
    background-color: #484361;
    height: calc(100% - 10px);
    margin: 5px 12px;
}

.theme-dark .chat form .typing {
    background-color: #484361;
}
.option-popout .btn-item {
    color: #FFF;
    background: #484361;
}
.option-popout {
    padding: 0;
}
.option-popout .btn-item:hover {
    background-color: #7E86D7;
    color: #FFF;
}

.theme-dark .system-message {
    color: #004400;
}

.theme-dark .system-message .channel-name-change strong, .theme-dark .system-message .system-message-content .user-name, .theme-dark .system-message .system-message-content a {
    color: #000044;
}
.theme-dark .system-message .system-message-timestamp {
    color: #0000AA;
}
.theme-dark .message-group .edit-message .edit-operation {
    color: #000044;
}
.theme-dark .message-group .comment .edited {
    color: #004400;
}
.bd-blue .mentioned .mention:hover {
    color: #00AA00;
}
.theme-dark .message-group .embed .embed-footer, .theme-dark .message-group .embed .embed-provider {
    color: #0000AA;
}
.theme-dark .message-group .embed .embed-author-name {
    color: #440000!important;
}
.wrapperLockedVoice-1XZJmE.wrapper-fDmxzK:hover {
    background: #AA0000;
    background-image: -webkit-linear-gradient(top,hsla(19,45%,30%,0.2),#484361);
}
.wrapperLockedVoice-1XZJmE.wrapper-fDmxzK:hover .nameLockedVoice-wNOMNa {
    color: #FFF;
}
.wrapper-2ldvyE {
    background-color: #5D3540;
    border-radius: 5px;
    color: #FFF;
}
.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
    color: #FFF;
}
.theme-dark .friends-table .messages .divider:not(.red) div, .theme-dark .messages-wrapper .messages .divider:not(.red) div {
    background: #484361;
}
.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
    background: #B59A8E;
}
/*================================= Userlist =================================*/

.theme-dark .channel-members {
    background: hsla(344, 27%, 29%, 0.85);
}
.theme-dark .textArea-20yzAH {
    color: #000044;
}
.channel-members .member .member-activity {
    color: #0ACC0A;
}
.theme-dark .channel-members h2 {
    color: #FFF;
}
.theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:hover {
    background-color: #AA8997;
    background-image: -webkit-linear-gradient(top,hsla(250,18%,32%,0.5),#AA8997);
}
.theme-dark .channel-members .member:hover .member-username-inner {
    color: hsla(0, 0%, 100%, 0.8)!important;
}
.bd-blue .user-popout .header {
    background: #613843;
}
.user-popout .body {
    background: #F5E9E4;
}
.user-popout .footer {
    background: #F5E9E4;
    border-top: 1px solid #751975;
}
.user-popout .body .section .label {
    color: #000044;
}
.note textarea {
	color: #000044;
}
.quick-message {
    border: 1px solid #751975;
    background: hsla(18, 21%, 63%,0.5);
}
.protip {
	color: #000044;
}
#user-profile-modal .header:after {
    background: #5D3540;
}
#user-profile-modal .tab-bar-container {
    background-color: #5D3540;
    background-image: -webkit-linear-gradient(top,hsla(19,45%,30%,0.1),#EAD2C7);
}
#user-profile-modal .header .header-info .header-info-inner .discord-tag {
    color: #FFF;
}
#user-profile-modal .header .header-info .header-info-inner .discord-tag .discriminator {
    font-size: 16px;
    color: #FFF;
}
#user-profile-modal .header .header-info .header-info-inner .activity {
    color: #D0D0D0;
}
#user-profile-modal .tab-bar .tab-bar-item.selected {
    border-bottom-color: #484361;
    color: #FFF;
    margin-bottom: 1px;
}
#user-profile-modal .tab-bar .tab-bar-item {
    padding: 0px 5px 13px;
    margin-bottom: 1px;
}

.headerNormal-1cioxU {
    background: #5D3540;
}
.body-3rkFrF {
    background-color: #EAD2C7;
    border-bottom: 1px solid #484361;
    padding: 10px;
}

.bodyTitleText-hSiL7d {
    color: #000044;
}

.member-roles .member-role {
    background-color: #816578;
    border: 1px solid #484361;
    color: #FFF;
}
.body-3rkFrF .member-role {
    background-color: #816578 !important;
    border: 1px solid #484361!important;
    color: #FFF!important;
}

.footer-2J5zqP {
    background-color: #EAD2C7;
}
#user-profile-modal .avatar-wrapper {
    background-color: transparent;
}

#user-profile-modal .scroller {
    background: #EAD2C7;	
}
.scroller-wrap, .scroller-wrap .scroller {
    margin-top: -1px;
}


#user-profile-modal .guilds .guild .guild-name {
    padding: 3px 3px 3px 3px;
	color: #FFF;
}

#user-profile-modal .guilds .guild:hover {
    background: none;
    background-image: -webkit-linear-gradient(top,hsla(250,18%,32%,0.5),#AA8997);
    background-color: #AA8997;
}

#user-profile-modal .guilds .section .connected-accounts .connected-account {
    border: 1px solid #484361;
	background: #F5E9E4;
}

#user-profile-modal .guilds .section+.section {
    border-top: 1px solid #484361;
}

.context-menu {
    background: #484361;
}

.context-menu .item.danger {
    color: #DD4444!important;
}

.context-menu .item {
    color: #D0D0D0;
}
.context-menu .item:hover {
    background: #7E86D7;
    color: #D0D0D0;
}

#user-profile-modal .empty {
    background: #EAD2C7;
}

#user-profile-modal .actions .btn.disabled {
    background: #816578;
    border: 1px solid #484361;
    color: #FFF;
    opacity: .9;
}

#user-profile-modal .actions .btn.disabled:hover {
    background: #7E86D7;
}

#user-profile-modal .actions .btn.add-friend {
    background: #41252d;
    border: #484361;
}
#user-profile-modal .actions .btn.add-friend:hover {
    background: #AA8997;
}

#user-profile-modal .guilds .guild .guild-nick {
    color: #D5D5D5;
    margin-left: 8px;
}
/*================================= Pop Ups Header =================================*/


.theme-dark .modal-3HOjGZ {
	background-color: #E2C1B2;
    box-shadow: none;
}
.theme-dark .defaultColor-v22dK1 {
    color: #004400;
}
.theme-dark .close-3ejNTg {
    color: #004400;
}
.theme-dark .primary-2giqSn {
    color: #000044;
}

/*================================= Pinned Messages =================================*/


.theme-dark .themed-popout .header {
    background-color: #5D3540;
    box-shadow: none;
}
.theme-dark .messages-popout-wrap .messages-popout .message-group {
    background-color: #F5E9E4;
    border-color: #484361;
	border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.theme-dark .themed-popout {
    background-color: #B59A8E;
    border: 1px solid #484361;
    box-shadow: none;
}
.theme-dark .messages-popout-wrap .messages-popout .message-group .action-buttons .jump-button {
    background-color: #41252d;
    color: #FFF;
}
.theme-dark .themed-popout .header .subtitle, .theme-dark .themed-popout .text {
    color: #FFF;
}
.theme-dark .messages-popout-wrap .messages-popout .message-group:hover .action-buttons {
    -webkit-box-shadow: 0 0 6px 4px #36393e;
    background-color: #41252d;
    box-shadow: 0 0 6px 4px #613843;
}

/*================================= Mentions =================================*/


.bd-blue .tab-bar.TOP .tab-bar-item.selected {
    border-bottom: 2px solid #FFF;
    color: #FFF;
}

.messages-popout .channel-separator:first-of-type {
    background: #824a59;
    padding: 5px 5px 5px 5px;
    margin-bottom: -1px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.messages-popout .channel-separator {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #824a59;
    margin-bottom: -1px;
    padding: 5px 5px 5px 5px;
}
/*================================= Settings =================================*/
.themeDefault-3M0dJU.valueChecked-3Bzkbm {
    background-color: #7E86D7;
}
.themeDefault-3M0dJU {
    background-color: #484361;
}
.theme-dark .h5-3KssQU {
    color: #000044;
}
.theme-dark .title-3i-5G_ {
    color: #000044;
}
.channelNameByline-1v_o14 {
    color: #000044;
}
.theme-dark .channelName-g_kAQT {
    color: #000044;
}
.lighten-12lCSM {
    opacity: 0.8;
}
.theme-dark .checkboxContainer-1sZ9eo:before {
    background-color: #484361;
}
.theme-dark .checkbox-1QwaS4 {
    border-color: #484361;
}
.theme-dark .footer-1PYmcw {
    background-color: #EAD2C7;
    box-shadow: none;
}
.theme-dark .cardPrimaryEditable-2IQ7-V {
    background: #EAD2C7;
    border-color: #484361;
}
.theme-dark .cardPrimaryOutline-2YyAz2 {
    border-color: #484361;
}
.theme-dark .guildName-1u0hy7, .theme-dark .override-251XCL, .theme-dark .overrideHighlight-2DXyuU {
    color: #000;
}
.theme-dark .checked-2TahvT {
    background-color: #AA8997!important;
    border-color: #484361!important;
}
.theme-dark .override-251XCL:hover {
    background-color: #EAD2C7;
}
.theme-dark .roundRemoveButton-1NEXB9 {
   background-color: #484361;
}
.buttonBrandFilled-3Mv0Ra {
    background-color: #41252d;
    color: #fff;
}
.buttonBrandFilledDefault-2Rs6u5:hover {
    background-color: #816578;
}
.theme-dark .ui-select>.Select .Select-control {
    -webkit-box-shadow: none;
    background: #B59A8E;
    border: 1px solid #484361;
    box-shadow: none;
}
.theme-dark .ui-select>.Select .Select-control .Select-placeholder {
    color: #000044;
}
.theme-dark .ui-select>.Select .Select-input input {
    color: #000044;
}
.theme-dark .input-2YozMi {
    background-color: #EAD2C7;
    border-color: #484361;
    color: #000044;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: #5D3540;
    opacity: 0.9;
}
.theme-dark .ui-standard-sidebar-view {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: #E2C1B2;
    opacity: 0.90;
}
.theme-dark .header-1-f9X5 {
    color: #FFF;
}
.itemDefaultSelected-1UAWLe {
    background-color: #AA8997;
    color: #fff;
    background-image: -webkit-linear-gradient(top,hsla(19,45%,30%,0.2),#484361);
}
.theme-dark .itemDefault-3NDwnY:hover {
    background-color: #613843;
    color: #f6f6f7;
    background-image: -webkit-linear-gradient(top,hsla(250,18%,32%,0.5),#AA8997);
}

.theme-dark .cardPrimary-ZVL9Jr {
    background: #EAD2C7;
    border-color: #484361;
}
.theme-dark .user-settings-account .view-body {
    color: #000044;
    background: #F5E9E4;
    width: 250px;
    padding-left: 6px;
}
.theme-dark .h5-3KssQU {
    color: #FFF;
    background: #5D3540;
    width: 250px;
    padding: 3px 2px 3px 6px;
    border-top-right-radius: 15px;
}
.theme-dark .avatar-uploader .remove-button {
    color: #FFF;
    background: #5D3540;
    padding: 5px 2px 5px 2px;
    border-radius: 5px;
}
.theme-dark .avatar-uploader .remove-button:hover {
    color: #FFF;
}
.theme-dark .input-2YozMi:hover {
    border-color: #484361;
}
.theme-dark .buttonPrimaryLinkDefault-1PQflF, .theme-dark .buttonPrimaryLinkDisabled-3Ey7-S, .theme-dark .buttonPrimaryLinkSubmitting-RbBzR4 {
    color: #FFF;
    padding: 5px 7px 5px 7px;
    background: #5D3540;
    border-radius: 5px;
}
.buttonGreenFilled-6QHNrw {
    background-color: #5D3540;
    color: #fff;
}
.buttonGreenFilledDefault-_lLQaz:hover {
    background-color: #816578;
}
.title-1M-Ras {
    color: #004400!important;
}
.theme-dark .desc-2dKaro {
    color: #000044;
}
.theme-dark .divider-1G01Z9 {
    background-color: #484361;
}
.buttonRedFilled-1NjJNj {
    background-color: #5D3540;
}
.buttonRedFilledDefault-1TrZ9q:hover {
    background-color: #816578;
}
.theme-dark .bar-2cFRGz {
    background: #484361!important;
}
.barFill-18ABna {
    background: #7E86D7!important;
}
.theme-dark .bubble-17BwqU {
    background-color: #484361;
}
.user-settings-voice .input-sensitivity-toggle.manual .microphone .fill {
    background-color: #AA8997!important;
}

.content-column [class*="slider"]>[class*="bar"], .sensitivity [class*="slider"].slider-bar:not(.speaking) { background: #484361 !important; }

.theme-dark .ui-hover-card:before {
    background-color: #EAD2C7;
    border-color: #484361;
}
.theme-dark .user-settings-keybinds .keybind-group {
    border-bottom-color: #484361;
}
.theme-dark .round-remove-button {
	background-color: #484361;
}
.theme-dark .user-settings-games .not-detected, .theme-light .user-settings-games .not-detected {
    background-color: #816578;
} 
.theme-dark .user-settings-games .now-playing-add, .theme-light .user-settings-games .now-playing-add {
    color: #000044;
}
.theme-dark .user-settings-games .now-playing, .theme-light .user-settings-games .now-playing {
    background-color: #484361;
}
.theme-dark .user-settings-games .now-playing .last-played, .theme-dark .user-settings-games .now-playing .overlay-status-text, .theme-light .user-settings-games .now-playing .last-played, .theme-light .user-settings-games .now-playing .overlay-status-text {
    color: #D0D0D0;
}
.theme-dark .user-settings-games .game-name {
    color: #004400;
}
.theme-dark .user-settings-games .last-played, .theme-dark .user-settings-games .overlay-status-text {
    color: #000044;
}
